<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}
		<p>This is a list of my projects.</p>
		<ul>
			<li>Hopeblocks Desktop (2011)</li>
			<li>Antibodies vs Diseases (2012)</li>
			<li>CanGame (2015)</li>
		</ul>

		{{> footer}}
	</body>
</html>